{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

<div class="row">
    <div class="col-md-12">
        <h3>Você está certo que deseja deletar o item {{item.title}}?</h3>
        <div class="row">
            <div class="col-md-6">
                <form action="#" method="post">
                    <a class="btn btn-primary"
                    href="{{url_for('show_item', cat_id = item.cat_id, item_id = item.id)}}" 
                    role="button">Não</a>
                    <button type="submit" class="btn btn-primary" id="submit" 
                    type="submit">Sim
                    <a href="{{url_for('show_all')}}"></a>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}